*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    margin-top: 3rem;
    font-size: 15px;
    font-family: spartan;
    width: 90%;
}
.attribution {
    font-size: 11px;
    text-align: center;
    position: relative;
    top: 12vh;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
.upper h1{
    font-size: 20px;
    font-weight: bolder;
}
#upper{
    color: hsl(300, 43%, 22%);
    margin-bottom: 3rem;
}
#upperRight{
    position: relative;
    left: 100px;
}
#lower{
    font-size: 12px;
}
.ratings-1{
    display: flex;
    width: 320px;
    font-size: 12px;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 10px;
    font-weight: 600;
}
.star-1{
    margin-right: 10px;
    padding-left: 5px;

}
.ratings-2{
    display: flex;
    width: 320px;
    font-size: 12px;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 10px;
    position: relative;
    top: 50px;
    left: 150px;
    font-weight: 600;
}
.star-2{
    margin-right: 10px;
    padding-left: 5px;

}
.ratings-3{
    display: flex;
    width: 320px;
    font-size: 12px;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 10px;
    position: relative;
    top: 100px;
    left: 300px;
    font-weight: 600;
}
.star-3{
    margin-right: 10px;
    padding-left: 5px;

}
.buyer{
    display: flex;

}
.buyer img{
    border-radius: 50%;
}
.name{
    margin-left: 10px;
    position: relative;
    top: 23px;
    margin-bottom: 2rem;
}
.verified-1{
    color: #fff;
    background-color: hsl(300, 43%, 22%);
    border-radius: 5px;
    padding: 10px;
}
.verified-2{
    color: #fff;
    background-color: hsl(300, 43%, 22%);
    border-radius: 5px;
    padding: 10px;
    position: relative;
    top: 30px;
    left: 30px; 
}
.verified-3{
    color: #fff;
    background-color: hsl(300, 43%, 22%);
    border-radius: 5px;
    padding: 10px;
    position: relative;
    top: 60px;
    left: 60px;   
}

/*  Responsiveness for smaller devices*/

@media (max-width: 767.98px) { 
    /* to be continued */
}